{% extends "questions/base.html" %}

{% block title %}
<title>Вопросы по тегу</title>
{% endblock %}

{% block content %}
<div class="question-container">
    <div class="main-header">
        <h2>Тег: {{ tag.tag }}</h2>
    </div>

    {% include "questions/includes/print_questions.html" %}

    {% include "questions/includes/pagination.html" with page=questions %}
</div>
{% endblock %}

{% block top_tags %}
    {% include "questions/includes/top_tags.html" with tags=top_tags %}
{% endblock %}

{% block top_users %}
    {% include "questions/includes/top_users.html" with users=top_users %}
{% endblock %}
