.vscode/

*.out

venv/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

*/migrations/__pycache__
*/migrations/__pycache__/
*/migrations/*.pyc

*.sqlite3

.env

media/avatars/*
!media/avatars/anon.png
!media/avatars/monkey.gif
