{% if page.paginator.num_pages > 1 %}
    <div class="pagination">
        {% if page.has_previous %}
            {% if page.previous_page_number != 1 %}
            <a href="?page=1" class="page-link">1</a>
            {% endif %}
            {% if page.previous_page_number > 2 %}
                <span class="page-dots">...</span>
            {% endif %}
            <a href="?page={{ page.previous_page_number }}" class="page-link">{{ page.previous_page_number }}</a>
        {% endif %}

        {% for num in page.paginator.page_range %}
            {% if page.number == num %}
                <a href="?page={{ num }}" class="page-link-active">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            {% if page.next_page_number != page.paginator.num_pages %}
            <a href="?page={{ page.next_page_number }}" class="page-link">{{ page.next_page_number }}</a>
            {% endif %}
            {% if page.paginator.num_pages > page.next_page_number|add:1 %}
                <span class="page-dots">...</span>
            {% endif %}
            <a href="?page={{ page.paginator.num_pages }}" class="page-link">{{ page.paginator.num_pages }}</a>
        {% endif %}
    </div>
{% endif %}
