<div class="question">
    <div class="question-left">
        <div class="user-avatar">
            <img src="{{ q.user.userprofile.avatar.url }}" alt="Аватар" class="avatar-img">
        </div>
        <span class="username-question">{{ q.user.username }}</span>
        <div class="vote-buttons">
            <button class="vote-up">↑</button>
            <span class="rating">{{ q.rating }}</span>
            <button class="vote-down">↓</button>
        </div>
    </div>

    <div class="question-right">
        <a href="{% url 'questions:question' q.id %}" class="question-title">{{ q.title }}</a>
        <p class="question-text">{{ q.description }}</p>
        <div class="question-footer">
            <a href="{% url 'questions:question' q.id %}" class="answers-link">ответы ({{ q.answers.count }})</a>
            <div class="tags">
                <span class="tags-label">Теги:</span>
                {% for question_tag in q.question_tags.all %}
                    <a href="{% url 'questions:tag' question_tag.tag.id %}" class="tag">{{ question_tag.tag.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
