<div class="questions">
    {% for q in questions %}
    <div class="question">
        <div class="question-left">
            <div class="user-avatar">
                <img src="{{ q.avatar }}" alt="Аватар" class="avatar-img">
            </div>
            <span class="username-question">{{ q.username }}</span>
            <div class="vote-buttons">
                <button class="vote-up">↑</button>
                <span class="rating">{{ q.question_rating }}</span>
                <button class="vote-down">↓</button>
            </div>
        </div>

        <div class="question-right">
            <a href="{% url 'questions:question' q.id %}" class="question-title" onclick="location.href='question.html'">{{ q.question_title }}</a>
            <p class="question-text">{{ q.question_text }}</p>
            <div class="question-footer">
                <a href="{% url 'questions:question' q.id %}" class="answers-link">ответы ({{ q.answers_count }})</a>
                <div class="tags">
                    <span class="tags-label">Теги:</span>
                    {% for tag in q.tags %}
                        {% for t in top_tags %}
                            {% if t.tag == tag %}
                                <a href="{% url 'questions:tag' t.id %}" class="tag">{{ tag }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
