{% extends "core/baseLoginRegister.html" %}

{% block title %}
<title>Вход</title>
{% endblock %}

{% block content %}
<form class="auth-form" method="post">
    {% csrf_token %}

    <a href="{% url 'questions:main_page' %}" class="logo-link">
        <div class="logo2">
            <h1>QuickAnswer</h1>
        </div>
    </a>
    <h2 class="auth-title">Вход в аккаунт</h2>

    <div class="form-group">
        <label for="login-username" class="form-label">Логин</label>
        <input type="text" id="login-username"
               class="form-input" placeholder="Введите email"
               name="email" value="{{ request.POST.email|default:'' }}" required>
    </div>

    <div class="form-group">
        <label for="login-password" class="form-label">Пароль</label>
        <input type="password" id="login-password"
               class="form-input" placeholder="Введите пароль"
               name="password" required minlength="1"
               value="{{ request.POST.password|default:'' }}">
    </div>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="form-error">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <button type="submit" class="auth-btn">Войти</button>

    <div class="auth-footer">
        <a href="#" class="auth-link">Забыли пароль?</a>
        <span>Нет аккаунта?</span>
        <a href="{% url 'core:signup' %}" class="auth-switch">Создать новый</a>
    </div>
</form>
{% endblock %}
