{% extends "core/baseLoginRegister.html" %}
{% load static %}

{% block title %}
<title>Регистрация</title>
{% endblock %}

{% block content %}
<form class="auth-form" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <a href="{% url 'questions:main_page' %}" class="logo-link">
        <div class="logo2">
            <h1>QuickAnswer</h1>
        </div>
    </a>
    <h2 class="auth-title">Регистрация</h2>

    <div class="form-group">
        <label for="reg-login" class="form-label">Логин</label>
        <input type="email" id="reg-login" name="email" class="form-input"
        placeholder="Введите email" value="{{ request.POST.email|default:'' }}" required>
    </div>

    <div class="form-group">
        <label for="reg-password" class="form-label">Пароль</label>
        <input type="password" id="reg-password" name="password" class="form-input"
               value="{{ request.POST.password|default:'' }}" placeholder="Придумайте пароль">
    </div>

    <div class="form-group">
        <label for="reg-password-repeat" class="form-label">Повторите пароль</label>
        <input type="password" id="reg-password-repeat" name="password_repeat"
               class="form-input" value="{{ request.POST.password_repeat|default:'' }}"
               placeholder="Повторите пароль">
    </div>

    <div class="form-group">
        <label for="reg-name" class="form-label">Имя</label>
        <input type="text" id="reg-name" name="name" class="form-input"
               placeholder="Ваше имя" value="{{ request.POST.name|default:'' }}" required minlength="3">
    </div>

    <div class="form-group">
        <label class="form-label">Аватар (по желанию)</label>
        <div class="avatar-upload">
            <div class="avatar-preview">
                <img src="{% static '/img/anon.png' %}" alt="Текущий аватар" class="avatar-current">
            </div>
            <input type="file" id="avatar" class="avatar-input" accept="image/*" name="avatar">
            <label for="avatar" class="avatar-btn">Выбрать изображение</label>
        </div>
    </div>

    {% if errors %}
        <div class="messages">
            {% for error in errors %}
                <div class="form-error">{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <button type="submit" class="auth-btn">Зарегистрироваться</button>

    <div class="auth-footer">
        <span>Уже есть аккаунт?</span>
        <a href="{% url 'core:login' %}" class="auth-switch">Войти</a>
    </div>
</form>
{% endblock%}
