{% extends "core/baseLoginRegister.html" %}
{% load static %}

{% block title %}
<title>Регистрация</title>
{% endblock %}

{% block content %}
<form class="auth-form" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <a href="{% url 'questions:main_page' %}" class="logo-link">
        <div class="logo2">
            <h1>QuickAnswer</h1>
        </div>
    </a>
    <h2 class="auth-title">Регистрация</h2>

    <div class="form-group">
        <label for="reg-login" class="form-label">Логин</label>
        <input type="email" id="reg-login" name="email" class="form-input"
        placeholder="Введите email" value="{{ request.POST.email|default:'' }}" required>
        {% if form.email.errors %}
            <div class="form-error">{{ form.email.errors.0 }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="reg-password" class="form-label">Пароль</label>
        <input type="password" id="reg-password" name="password" class="form-input"
               value="{{ request.POST.password|default:'' }}" placeholder="Придумайте пароль">
        {% if form.password.errors %}
            <div class="form-error">{{ form.password.errors.0 }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="reg-password-repeat" class="form-label">Повторите пароль</label>
        <input type="password" id="reg-password-repeat" name="password_repeat"
               class="form-input" value="{{ request.POST.password_repeat|default:'' }}"
               placeholder="Повторите пароль">
    </div>

    <!-- Несовпадение паролей -->
    {% if form.non_field_errors %}
        <div class="messages">
            {% for error in form.non_field_errors %}
                <div class="form-error">{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-group">
        <label for="reg-name" class="form-label">Имя</label>
        <input type="text" id="reg-name" name="username" class="form-input"
               placeholder="Ваше имя" value="{{ request.POST.username|default:'' }}" required minlength="3">
        {% if form.username.errors %}
            <div class="form-error">{{ form.username.errors.0 }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        <label class="form-label">Аватар (по желанию)</label>
        <div class="avatar-upload">
            <div class="avatar-preview">
                <img id="avatar-preview" src="{% static '/img/anon.png' %}" alt="Текущий аватар" class="avatar-current">
            </div>
            <input type="file" id="avatar" class="avatar-input" accept="image/*" name="avatar">
            <label for="avatar" class="avatar-btn">Выбрать изображение</label>
        </div>
    </div>

    <script>
    const avatarInput = document.getElementById('avatar');
    const avatarPreview = document.getElementById('avatar-preview');

    avatarInput.addEventListener('change', function(){
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                avatarPreview.src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    });
    </script>

    <button type="submit" class="auth-btn">Зарегистрироваться</button>

    <div class="auth-footer">
        <span>Уже есть аккаунт?</span>
        <a href="{% url 'core:login' %}" class="auth-switch">Войти</a>
    </div>
</form>
{% endblock%}
